# FOR LOOP

In [1]:
fruits = ["apple", "banana", "cherry", "kiwi"]

In [3]:
for i in fruits:
  print(i)        #space before the print is call indentations

apple
banana
cherry
kiwi

In [4]:
for a in "pranjal":
  print(a)

p
r
a
n
j
a
l

In [5]:
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

#while loop

- note - in while loop we need counter

In [6]:
count = 0
while count < 6:
  print(count)
  count += 1

0
1
2
3
4
5

In [7]:
n = 5
factorial = 1
while n > 0:
  factorial = factorial * n
  n -= 1
print("factorial of 5 :-", factorial)

factorial of 5 :- 120

#conditional statements - IF ELSE

In [9]:
#grade calculator

In [12]:
score = 95

if score >= 90:
  grade = "A"
else:
  grade = "B"

In [13]:
print(grade)

A

In [18]:
score = 60

if score >= 90:
  grade = "A"
elif score >= 80:
  grade= "B"
elif score >= 70:
  grade = "C"
else:
  grade = "D"


print(grade)

D

In [20]:
score = int(input("Enter the score :- "))

if score >= 90:
  grade = "A"
elif score >= 80:
  grade= "B"
elif score >= 70:
  grade = "C"
else:
  grade = "D"


print(grade)

Enter the score :- 78
C

#nested if-else

In [24]:
age = int(input("Enter your age :-"))

if age >= 65:
  print("you are eligible for a senior citizen discount.")

else:
  if age <= 5:
    print("you are eligible for child discount")
  else:
    print("you are eligible for regular discount")

Enter your age :-4
you are eligible for child discount

#function - reusable block of code

In [26]:
#area of rectangle   - def - define

In [27]:
def area_of_rectangle(width, height):
  return width * height

In [28]:
area_of_rectangle(20,54)

1080

In [29]:
#chech the even and odd

In [30]:
def is_even(number):
  return number % 2 == 0

num = int(input("enter the number :-"))

if is_even(num):
  print("number is even.")
else:
  print("number is odd.")

enter the number :-3
number is odd.

#in build function

In [31]:
list = [1,2,3,4,5]

In [33]:
len(list)

5

In [34]:
max(list)

5

In [35]:
min(list)

1

In [36]:
sum(list)

15

In [37]:
list =[8,7,4,8,9,6,3,4,1,2,4,5,7,8,5,1]

In [38]:
sorted(list)

[1, 1, 2, 3, 4, 4, 4, 5, 5, 6, 7, 7, 8, 8, 8, 9]

#LAMBDA

In [40]:
x = 10
y = 20
add = lambda x , y : x + y

In [44]:
result = add(x , y)

print(result)

30

In [45]:
def add (x, y):
  return x + y

In [46]:
result = add(7,8)

In [47]:
result

15

In [48]:
#square of number

In [49]:
square = lambda x : x **2

In [50]:
square(6)

36

In [52]:
is_even = lambda x : "Even" if x  % 2 == 0 else "Odd"

In [53]:
is_even(5)

'Odd'

#map & filter

In [60]:
numbers = [1,2,3,4,5,6,7,8,9,10,14,15,48]

In [61]:

even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

print(even_numbers)

[2, 4, 6, 8, 10, 14, 48]

In [62]:
#map

In [63]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 14, 15, 48]

In [64]:
square_number = lambda x : x ** 2

In [65]:
square_number(5)

25

In [66]:
sq_nu = list(map(lambda x : x ** 2, numbers))

In [67]:
sq_nu

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 196, 225, 2304]

#return, pass, continue & break

In [68]:
def add_number (a , b):
  return a + b

In [69]:
add_number(5,3)

8

In [71]:
def future_function():
  pass

In [72]:
for i in range(6):
  if i == 2:
    continue
  print(i)

0
1
3
4
5

In [73]:
for i in range(5):
  if i == 3:
    break
  print(i)

0
1
2